{% extends 'base.html' %}

{% block title %} {{ topic.title }} {% endblock title %}


{% block content %}


    <div class="topic-content">
        <div class="topic-title">
            <h1>{{ topic.title }}</h1>
        </div>

        <div class="topic-author-date">
            <small>Posted by {{ topic.author.username }} on {{ topic.created.strftime('%d %b %Y')}}</small>
        </div>

        <div class="mt-4">
            <p> {{ topic.text }}</p>
        </div>
    </div>

    <div class="topic-btns mt-3">
        {% if user.id == topic.author.id %}
            <a class="btn-edit mr-3" href="/topic/{{ topic.id }}/edit">Edit</a>
            <a class="btn-delete" href="/topic/{{ topic.id }}/delete">Delete</a>
        {% endif %}
    </div>
{% endblock content %}