{% extends 'base.html' %}

{% block title %}Create topic{% endblock title %}

{% block content %}


    <div class="form-content">
        <h1 class="mb-5">Create a new topic</h1>

        <form method="post">
            <input type="hidden" name="csrf" value="{{ csrf_token }}">

            <input type="text" name="title" placeholder="Topic title" required>
            <textarea name="text" cols="30" rows="10" placeholder="Tell us something we don't know"></textarea>
            <button>Submit</button>
        </form>
    </div>

{% endblock content %}