{% extends 'base.html' %}

{% block title %} {{ topic.title }} {% endblock title %}


{% block content %}


    <div class="topic-content">
        <div class="topic-title">
            <h1>{{ topic.title }}</h1>
        </div>

        <div class="topic-author-date">
            <small>Posted by {{ topic.author.username }} on {{ topic.created.strftime('%d %b %Y')}}</small>
        </div>

        <div class="mt-4">
            <p> {{ topic.text }}</p>
        </div>
    </div>

    <div class="topic-btns mt-3">
        {% if user.id == topic.author.id %}
            <a class="btn-edit mr-3" href="/topic/{{ topic.id }}/edit">Edit</a>
            <a class="btn-delete" href="/topic/{{ topic.id }}/delete">Delete</a>
        {% endif %}
    </div>

    {% for comment in comments %}
    <p><strong>{{comment.author.username}}:</strong>{{ comment.text }}</p>
    {% endfor %}

    <hr>

    {% if user%}
    <form method="post" action="/topic/{{ topic.id }}/create-comment">
        <input type="hidden" name="csrf" value="{{ csrf_token }}">

        <textarea name="text" rows="5" placeholder="Enter your comment" required></textarea>

        <button>Submit</button>
    </form>
    {% endif %}
{% endblock content %}